<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instructions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- adsense-demo -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-251290XXXXXXXXXX"
         data-ad-slot="543XXXXXXX"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <ng-adsense></ng-adsense>

  <div class="main">

    <h1>
      This is a demo project for Ionic with adsense.<br>
      You can see how adsense can be integrated with Ionic Angular.
    </h1>

    <h2>
      1. Overview
    </h2>

    <ol>
      <li>Create your blank project with Ionic Angular.</li>
      <li>Install ng2-adsense via npm.</li>
      <li>Edit your project. Note that you need to add extra codes not mentioned in ng2-adsense page.</li>
    </ol>


    <h2>
      2. Details
    </h2>

      <div>
        View details in my blog post. The URL is linked in my github page here in<br>
        <a href="https://github.com/NP-Systems/Ionic-adsense-demo">https://github.com/NP-Systems/Ionic-adsense-demo</a>

      </div>


    <h2>
      3. Source code
    </h2>
    <div>
      Soucecode of this project is available in my GitHub page.<br>
      <a href="https://github.com/NP-Systems/Ionic-adsense-demo">https://github.com/NP-Systems/Ionic-adsense-demo</a>
    </div>
  </div>

</ion-content>
